@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

/* Varibles de referencia */
:root{
    /* colores */
    --color-rojo: #FF3333;
    --color-rojo-90: rgba(255, 51, 51,0.9);
    --color-azul:#1D84B5;
    --color-azul-90: rgba(29, 132, 181,0.9);
    --color-girs-oscuro: rgb(48, 52, 63);
    --color-gris-oscuro-90: rgba(48, 52, 63,0.9);
    --color-negro: #1f1f1f;
    --color-negro-90: rgba(31, 31, 31,0.9);
    --color-rosa: rgb(255, 22, 84);
    --color-rosa-90: rgba(255, 22, 84,0.9);
    --fuente-color-blanco:#ffffff;
    
    /* fuentes */
    --fuente-principal: 'Inter', sans-serif;
    --fuente-secundaria: 'Raleway', sans-serif;
    /* tamaño de fuentes */
    --fuente-size-46: 4.6em;
    --fuente-size-38: 3.8em;
    --fuente-size-30: 3.0em;
    --fuente-size-24: 2.4em;
    --fuente-size-20: 2em;
    --fuente-size-18: 1.8em;
    --fuente-size-16: 1.6em;
    --fuente-size-14: 1.4em;

    /* espaciado */
    --espacio-128:12.8rem;
    --espacio-68:6.8rem;
    --espacio-48:4.8rem;
    --espacio-36:3.6rem;
    --espacio-28:2.8rem;
    --espacio-24:2.4rem;
    --espacio-16:1.6rem;
    --espacio-12:1.2rem;
    --espacio-8:0.8rem;
}

/* Normalizo */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--fuente-principal);
    font-size: 62.5%;
    color: var(--color-negro);
}

a {
    text-decoration: none;
    font-size: var(--fuente-size-20);
    font-family: inherit;
    color: inherit;
}

a *{
    font-size: inherit !important;
}

header, 
footer {
    font-family: var(--fuente-secundaria);
    color: var(--fuente-color-blanco);
    background-color: var(--color-girs-oscuro);
}

ul, ol {
    list-style-type: none;  
}

p {
    font-size: var(--fuente-size-18);
    font-weight: lighter;
}

h1{
    font-size: var(--fuente-size-46);
}

h2{
    font-size: var(--fuente-size-30);
    text-transform: uppercase;
}

h3{
    font-size: var(--fuente-size-24);
}
h4{
    font-size: var(--fuente-size-20);
}
img{
    max-width: 100%;
}
/* fin normalizo */

.container {
    max-width: 1220px;
    margin: 0 auto;
}

/* header */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacio-36) 0;
}

.navbar__logo{
    max-width: 372px;
}

.navbar__menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--espacio-36);
    align-items: center;
}
/* fin header */

/* banner */
.banner{
    background-image: url("../img/funkos-banner.webp");
    background-size: cover;
    background-attachment: fixed;
    height:400px;
    color:var(--fuente-color-blanco);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top:0;
    left:0;
    font-family: var(--fuente-secundaria);    
}

.banner::before{
    content:"";
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    filter: blur(0.3);
    height:100%;
    width:100%;
    position:absolute;
}

.banner__content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    z-index: 2;
}

.banner__article{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
}

.banner__article p{
    padding-bottom: var(--espacio-48);
}

.banner__article a{
    font-family: var(--fuente-principal);
    color: var(--color-negro);
    background-color: white;
    border-radius: 50px;
    padding:11px 78px;
}

/* fin banner */

/* home articulos */
.articulo{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.articulo:nth-of-type(even){
    flex-direction: row-reverse;
}

.articulo__descripcion{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.articulo__descripcion h3{
    font-family: var(--fuente-secundaria);
    font-size: var(--fuente-size-46);
}

.articulo__descripcion hr{
    border:var(--color-rojo) 1px solid;
    width:100%;
    margin:var(--espacio-16) 0;
}

.articulo__descripcion a{
    font-family: var(--fuente-principal);
    font-size: var(--fuente-size-24);
    color: white;
    background-color: var(--color-negro);
    border-radius: 50px;
    padding:11px 48px;
}

/* fin articulos home */

/* Ultimos lanzamientos */
.ultimosLanzamientos{
   display:flex;
   flex-direction: row;
   
}

.ultimosLanzamientos .ul__articulos{
    display:flex;
    flex-direction: column;
}
/* fin ultimos lanzamientos */

/* Footer */
.footer__container{
    padding: var(--espacio-28) 0rem;
}

.footer__nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__container p{
    margin-top: var(--espacio-24);
    text-align: center;
}
/* fin Footer */

/* Admin */
.admin{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: var(--espacio-16) 0;
}

.admin__busqueda{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--fuente-size-30);
}

.admin__busqueda input{
    display:block;
    border-radius: 5px;
    margin-left:var(--espacio-24);
    height:30px;
    box-sizing: content-box;
}

.admin__busqueda input::placeholder{
    padding: 6px;
}

.admin__encabezado{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:var(--espacio-16) 0;
    font-family: var(--fuente-secundaria);
}

.admin__encabezado a{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: var(--fuente-size-14);
    
}
.admin__encabezado a span{
    margin-right: var(--espacio-8);
}
.admin__encabezado a iconify-icon{
    color:white;
    background-color: red;
    border-radius: 2px;
    font-size: var(--fuente-size-14);
}

.admin__listado{
    width:100%;
}
.admin__listado table{
 width:100%;
 font-size: var(--fuente-size-16);
}

.admin__listado thead{
    font-weight: bold;
    text-align: left;
}

.listado__item td{
    padding:var(--espacio-16) 0;
}
.listado__item iconify-icon{
    padding: 0 var(--espacio-8);
}

.listado__item .item__edit{
    color:var(--color-azul);
}
.listado__item .item__remove{
    color:var(--color-rojo);
}
.listado__item td:nth-last-child(1),
.listado__item td:nth-last-child(2) {
    width: 1%;
}

/* fin Admin */