@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

/* Varibles de referencia */
:root{
    /* colores */
    --color-rojo: #FF3333;
    --color-rojo-90: rgba(255, 51, 51,0.9);
    --color-azul:#1D84B5;
    --color-azul-90: rgba(29, 132, 181,0.9);
    --color-girs-oscuro: rgb(48, 52, 63);
    --color-gris-oscuro-90: rgba(48, 52, 63,0.9);
    --color-negro: #1f1f1f;
    --color-negro-90: rgba(31, 31, 31,0.9);
    --color-rosa: rgb(255, 22, 84);
    --color-rosa-90: rgba(255, 22, 84,0.9);
    --fuente-color-blanco:#ffffff;
    
    /* fuentes */
    --fuente-principal: 'Inter', sans-serif;
    --fuente-secundaria: 'Raleway', sans-serif;
    /* tamaño de fuentes */
    --fuente-size-46: 4.6em;
    --fuente-size-38: 3.8em;
    --fuente-size-30: 3.0em;
    --fuente-size-24: 2.4em;
    --fuente-size-20: 2em;
    --fuente-size-18: 1.8em;
    --fuente-size-16: 1.6em;
    --fuente-size-14: 1.4em;

    /* espaciado */
    --espacio-128:12.8rem;
    --espacio-68:6.8rem;
    --espacio-36:3.6rem;
    --espacio-28:2.8rem;
    --espacio-24:2.4rem;
    --espacio-16:1.6rem;
    --espacio-12:1.2rem;
    --espacio-8:0.8rem;

}

/* Normalizo */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--fuente-principal);
    font-size: 62.5%;
    color: var(--color-negro);
}

a {
    text-decoration: none;
    font-size: var(--fuente-size-20);
    font-family: inherit;
    color: inherit;
}

header, 
footer {
    font-family: var(--fuente-secundaria);
    color: var(--fuente-color-blanco);
    background-color: var(--color-girs-oscuro);
}

ul, ol {
    list-style-type: none;  
}

p {
    font-size: var(--fuente-size-18);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

/* header */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacio-36) 0;
}

.navbar__logo{
    max-width: 372px;
}

.navbar__menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--espacio-36);
    align-items: center;
}
/* fin header */

/* banner */
.banner{
    background-image: url("../img/funkos-banner.webp");
    background-size: cover;
    background-attachment: fixed;
    height:400px;
    color:var(--fuente-color-blanco);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner__content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.banner__article{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
}
