<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item | Funkoshop</title>
    <link rel="stylesheet" href="/src/assets/css/index.css">
</head>
<body> 
    <header> <!-- Inicio Header -->
     </header> <!--   Fin Header -->
    <main id="app">
        <div class="container">
        <h1 class="create__title">CREAR NUEVO ITEM</h1>
        <form action="" method="post" id="create">
            
        </form>
        </div>
    </main>
    <footer>
    </footer>
    <script src="/src/js/admin.js"></script>
    <script type="module" src="/src/js/vue.js"></script>
</body>
</html>