<footer>
    <section>
        <nav>
            <ul>
                <li>
                    <a href="/shop">SHOP</a>
                </li>
                <% if (typeof header !== "undefined"){%>
                <li>
                    <a href="/auth/register">REGISTRARSE</a>
                </li>
                <%}%>
                <li>
                    <a href="/auth/login">LOGIN</a>
                </li>
                <li>
                    <a href="/contact">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        </section>
        <p>All rights reserved 2023 - Funkoshop &copy;</p>
</footer>