<section class="ultimosLanzamientos glide"> <!-- Ultimos lanzamientos -->
    <h1>Últimos Lanzamientos</h1>
    <div class="glide__track" data-glide-el="track">
        <ul class="ultimosLanzamientos__lista glide__slides">
            <%- include(rootPath + 'card',{ cantidad: 4 } ) %>
        </ul>
    </div>
</section>