<section class="ultimosLanzamientos glide"> <!-- Ultimos lanzamientos -->
    <h1>Últimos Lanzamientos</h1>
    <div class="glide__track" data-glide-el="track">
        <ul class="ultimosLanzamientos__lista glide__slides">
            <%- include('card',{ cantidad: 4 , baseUrl:baseUrl} ) %>
        </ul>
    </div>
    <div data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="ic:baseline-chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="ic:baseline-chevron-right"></iconify-icon></button>
    </div>
</section>