.ul__item{
    /* min-width:304px;
    max-width:304px; */
    min-height:512px;
    
}

.ul__articulos{
    display:flex;
    flex-direction: column;
    position:relative;
}
.ul__descripcion{
   display:flex;
   flex-direction: column;
   gap: var(--espacio-8);
   padding-left: var(--espacio-12);
}
.ul__descripcion p{
   font-size:var(--fuente-size-14);
}
.ul__descripcion p:nth-last-child(1){
   color: #1D84B5;
   font-size:var(--fuente-size-12);
}
.ul__descripcion h4{
   font-size:var(--fuente-size-18);
   text-transform: uppercase;
}
.ul__articulos .articulos__sticker{
    position:absolute;
    top:0px;
    right:0px;
    padding:0 var(--espacio-24);
    background-color: var(--color-rojo);
    color:white;
    font-size: var(--fuente-size-14);
    text-transform: uppercase;
}

.card-item__cover {
   display:flex;
}
.card-item__cover img{
   animation: fade 0.7s;
}
.card-item__img--back {
   display:none;
}
.card-item__cover:hover .card-item__img--back {
   display:block;
}
.card-item__cover:hover .card-item__img--front {
   display:none;
}

@keyframes fade {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}