.glide__arrow--left{
    left:24px;
}

.glide__arrow--right{
    right:24px;
}

.glide iconify-icon{
    color:black;
}

.glide__arrow{
    background-color: rgba(255, 255, 255, 0.5);
}
.glide__arrow:hover{
    background-color: rgba(128, 128, 128, 0.5)
}