#create {
    margin: var(--espacio-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--espacio-36);
}

.create__title {
    font-size: var(--font-size-46);
}

.create__form {
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--espacio-48);
}

