<main>
    <div  id="app" class="container dosColumnas">
    <aside class="aside"> <!-- aside -->
        <div class="aside__buscar">
            <label for="item_o_categoria">BUSCAR</label>
            <input type="text" id="item_o_categoria" placeholder="item o categoria">
        </div>
        <div class="aside__ordenar">
            <label for="ordenar_por">ORDENAR POR</label>
            <select id="ordenar_por" placeholder="Mayor a menor">
                <option selected value="1">mayor a menor</option>
                <option value="2">menor a mayor</option>
            </select>
        </div>
        <div class="aside__precio">
            <label>PRECIO</label>
            <div class="aside_precio_input">
                <label for="precio_min">MIN</label>
                <input id="precio_min" type="number" maxlength="4">
                <span>-</span>
                <label for="precio_max">MAX</label>
                <input id="precio_max" type="number" maxlength="4">
            </div>
        </div>
        <div class="aside__filtros">
            <label for="filtros">FILTRAR</label>
            <ul id="filtrar">
                <li>  
                    <label>
                        <input type="checkbox" name="nuevos">
                        NUEVOS
                    </label>
                </li>
                <li>  
                    <label>
                        <input type="checkbox" name="ofertas">
                        OFERTAS
                    </label>
                </li>
                <li>  
                    <label>
                        <input type="checkbox" name="edicion">
                        EDICION
                    </label>
                </li>
                <li>  
                    <label>
                        <input type="checkbox" name="especial">
                        ESPECIAL
                    </label>
                </li>
            </ul>
        </div>
    </aside>    
    <section"> <!-- Listado de articulos -->
        <ul class="listado">
            <%- include('../../partials/card',{ cantidad: 0, baseUrl: baseUrl } ) %>
        </ul>
        <%- include('../../partials/pagination', { page:page, totalPages: totalPages, url:'shop'}) %>
    </section>
    </div>
</main>