/* SHOP PAGE */
.dosColumnas{
    display:grid;
    grid-template-columns: 1fr 3fr;
    margin-top:var(--espacio-36);
}
/* Aside */
.aside{
    display:flex;
    flex-direction: column;
    row-gap: var(--espacio-12);
    padding: 0 var(--espacio-12);
    justify-content: flex-start;
    max-width: 225px;
 }
 .aside > div{
    display:flex;
    flex-direction: column;
    row-gap: var(--espacio-8);
}
.aside input,
.aside select{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    padding:2px 5px;
    background-color: white;
    box-sizing: content-box;
}

.aside_precio_input{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.aside_precio_input > input{
    max-width: 4ch;
}
.aside label{
    font-size: var(--fuente-size-18);
}
.aside li{
    margin-bottom: 5px;
}
/* fin aside */

.listado{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    column-gap: var(--espacio-24);
}

