/* SHOP PAGE */
.dosColumnas{
    display:flex;
    flex-direction: row;
    margin-top:var(--espacio-36);
}
/* Aside */
.aside{
    position:relative;
    display:flex;
    flex-direction: column;
    row-gap: var(--espacio-12);
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 var(--espacio-12);
    max-width:15%;
 }
 .aside > div{
    display:flex;
    flex-direction: column;
    row-gap: var(--espacio-8);
}
.aside input,
.aside select{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    padding:2px 5px;
    background-color: white;
    box-sizing: content-box;
}

.aside_precio_input{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.aside_precio_input > input{
    max-width: 4ch;
}
.aside__filtros label{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
.aside__filtros li{
    margin-bottom: 5px;
}
/* fin aside */
 
   .listado{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: var(--espacio-24);
   }
 