<main class="container">
  <div class="admin" style="padding:24px;align-items: center;">
  <div class="__title">
  <h1>Listado de licencias</h1>
  </div>
  <a class="a__boton" href="/admin/licencias/create">Crear</a>

  <table class="__tables">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% licencias.forEach(licencia => { %>
      <tr>
        <td><%= licencia.id %></td>
        <td><%= licencia.nombre %></td>
        <td>
          <a class="a__boton" href="/admin/licencias/<%= licencia.id %>/edit">Editar</a>
          |
          <form
            class="form-delete"
            style="display: inline-block"
            action="/admin/licencias/<%= licencia.id %>?_method=DELETE"
            method="post"
          >
            <button class="a__boton" type="submit">Borrar</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  </div>
</main>
<script>
  document.addEventListener("submit", (event) => {
    if (event.target.classList.contains("form-delete")) {
      event.preventDefault();
      if (confirm("¿Esta seguro?")) {
        event.target.submit();
      }
    }
  });
</script>
