<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Funkoshop</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body> 
    <%- include('./partials/header'); %>
    <main id="app">
        <section class="banner">
            <div class="banner__content container">
                <article class="banner__article">
                    <h2>Nuevos Ingresos</h2>
                    <p>Descubrí el próximo Funko Pop de tu colección</p>
                    <a href="/public/pages/shop/shop.html">SHOP</a>
                </article>
            </div>
        </section>
        <div class="container">
            <!-- Articulos -->
            <section class="articulo">
                <article class="articulo__descripcion">
                    <p class="articulo__titulo">Star Wars & The Mandalorian</h3>
                    <p>Disfruta de una saga que sigue agregando personajes a su colección.</p>
                    <hr>
                    <a href="/public/pages/shop/shop.html?brand=star">VER COLECCIÓN</a>
                </article>
                <picture class="articulo__imagen">
                    <img src="/public/img/star-wars/baby-yoda-1.webp" alt="Figura coleccionable Funko de Grogu de la serie The Mandalorian">
                </picture>
            </section>
            <section class="articulo">
                <article class="articulo__descripcion">
                    <p class="articulo__titulo">POKEMON INDIGO</h3>
                    <p>Atrapa todos los que puedas y disfruta de una colección llena de amigos.</p>
                    <hr>
                    <a href="/public/pages/shop/shop.html?brand=poke">VER COLECCIÓN</a>
                </article>
                <picture class="articulo__imagen">
                    <img src="/public/img/pokemon/vulpix-1.webp" alt="Figura coleccionable Funko de Vulpix de la serie Pokemon">
                </picture>
            </section>
            <section class="articulo">
                <article class="articulo__descripcion">
                    <p class="articulo__titulo">HARRY POTTER</h3>
                    <p>Revive los recuerdos de una saga llena de magia y encanto.</p>
                    <hr>
                    <a href="/public/pages/shop/shop.html?brand=harry">VER COLECCIÓN</a>
                </article>
                <picture class="articulo__imagen">
                    <img src="/public/img/harry-potter/snape-patronus-1.webp" alt="Figura coleccionable Funko del Patronus de Snape en la película de Harry Potter">
                </picture>
            </section>
            <!-- Fin articulos -->
            <section class="ultimosLanzamientos"> <!-- Ultimos lanzamientos -->
            <h1>Últimos Lanzamientos</h1>
            <ul class="ultimosLanzamientos__lista">
                <card :items="items.slice(0,3)"></card>
            </ul>
            </section>
        </div>
    </main>
    <%- include('./partials/footer'); %>
    <script type="module" src="./js/vue.js"></script>
</body>
</html>