.__title{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}
.__title h1 {
    font-size: var(--fuente-size-46);
}
.__title p {
    font-size: var(--fuente-size-30);
}
.__form {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--espacio-24);
}

.__form * {
    border-radius: 4px;
}

.__form .__fila{
    display:flex;
    justify-content:flex-start;
    column-gap:18px;
}
.__form label{
    font:var(--fuente-principal);
    font-size: var(--fuente-size-24);
    font-weight: 300;
    white-space: nowrap;
}    
.__form .input_container{
    flex:1 1 auto;
}
.__form input{
    width:100%;
    box-sizing:border-box;
    font:var(--fuente-principal);
    font-size: var(--fuente-size-18);
    font-weight: 400;
    border:none;
    border-bottom: 1px solid red;
    padding:8px;
}

.__form select{
    width:100%;
    box-sizing:border-box;
    font:var(--fuente-principal);
    font-size: var(--fuente-size-18);
    font-weight: 400;
    padding-left:8px;
}

.__form button {
    background-color: red;
    font-size: var(--fuente-size-14);
    font-weight: 600;
    padding: var(--espacio-12);
    color: white;
    width: 100%;
}

.__form textarea{
    font-size: var(--fuente-size-18);
    font-weight: 400;
    padding:8px;
}

.__form img{
    max-width: 150px;
    border-bottom: 1px solid red;
}

.__form .__imagen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    row-gap: 8px;
    font-size: 20px;
}

__fila{
    display:flex;
    justify-content:flex-start;
    column-gap:18px;
}