.container {
    max-width: min(1200px,100%);
    margin: 0 auto;
}

.grid-fixed {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main{
    position: relative;
    background-color: transparent;
}

canvas{
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vh;
    z-index: -1;
}