.container {
    max-width: min(1200px,100%);
    margin: 0 auto;
}

.grid-fixed {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main{
    position: relative;
    background-color: transparent;
}

.paginacion{
    border-top:solid 1px;
    font-size: var(--fuente-size-16);
    padding:16px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 5px;
}
.paginacion .box{
    padding: 5px 8px;
    border-radius: 3px;
}
.paginacion .current-page{
    border:solid red 1px;
    color:red
}
.paginacion .page-box{
    border:solid grey 1px;
}

canvas{
    position:fixed;
    top:0;
    left:0;
    z-index: 99;
    background: #00000017;
    width:100%;
    height:100vh;
    pointer-events: none;
}

@keyframes draw {
    100% {
        opacity:1;
    }

    0% {
        opacity:0;
    }
    
}