@media only screen and (max-width: 992px) {
    .dosColumnas{
        display:grid;
        grid-template-columns: 1fr 2fr;
        margin-top:var(--espacio-24);
    }
    .listado{
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: left;
        column-gap: var(--espacio-24);
    }
}

@media only screen and (max-width: 768px) {
    .dosColumnas{
        display:grid;
        grid-template-columns: 1fr;
        /* margin-top:var(--espacio-36); */
    }
    .aside{
        max-width: 80%;
        margin-left:auto;
        margin-right:auto;
     }
    .listado{
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: left;
        column-gap: var(--espacio-12);
        padding-left:var(--espacio-24);
        padding-right:var(--espacio-24);
        margin-top:var(--espacio-36);
    }
    .navbar{
        flex-direction: column;
    }
    .navbar__menu{
        display:none;
        position:absolute;
        flex-direction: column;
        top:75px;
        left:0;
        background-color: var(--color-negro-90);
        width:100%;
        align-self:flex-start;
        z-index:99;
        
    }
    .menu__h{
        display: inline-block;
    }
    .menu__h span{
        display:block;
        width:35px;
        height:3px;
        margin: 6px auto;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (max-width: 600px) {
    .dosColumnas{
        display:grid;
        grid-template-columns: 1fr;
        /* margin-top:var(--espacio-36); */
    }
    .aside{
        max-width: 80%;
        margin-left:auto;
        margin-right:auto;
     }
    .listado{
        display:grid;
        grid-template-columns: 1fr;
        justify-content: left;
        column-gap: var(--espacio-12);
        padding-left:var(--espacio-24);
        padding-right:var(--espacio-24);
        margin-top:var(--espacio-36);
    }
    .navbar{
        flex-direction: column;
    }
    .navbar__menu{
        display:none;
        position:absolute;
        flex-direction: column;
        top:75px;
        left:0;
        background-color: var(--color-negro-90);
        width:100%;
        align-self:flex-start;
        z-index:99;
        
    }
    .menu__h{
        display: inline-block;
    }
    .menu__h span{
        display:block;
        width:35px;
        height:3px;
        margin: 6px auto;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }
}