<div class="comp__cantidad">
    <input id="input_cantidad" type="number" maxlength="4" step="1" value="0">
    <div class="masmenos">
        <button onclick="sumaCantidad()">+</button>
        <button onclick="restaCantidad()">-</button>
    </div>
</div>

