<footer>
    <section>
        <nav>
            <ul>
                <li>
                    <a href="/shop">SHOP</a>
                </li>
                <% if (userId){ %>
                    <li> 
                        <a href="/logout">LOGOUT</a>    
                    </li>
                    <li> 
                        <a href="/admin">ADMIN</a>    
                    </li>
                    <% } else { %>
                    <li>
                        <a href="/register">REGISTRARSE</a>
                    </li>
                    <li>
                        <a href="/login">LOGIN</a>
                    </li>
                <% } %>
                <li>
                    <a href="/contact">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        </section>
        <p>All rights reserved 2023 - Funkoshop &copy;</p>
</footer>