<header>
<nav class="navbar container">
    <div style="display:flex;flex-direction: row;align-items: center;">
        <picture class="navbar__logo">
            <a href="/">
                <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop">
            </a>
        </picture>
        <div class="menu__h" onclick="changeMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ul class="navbar__menu">
        <% if (userId){ %>
            <li class="menu__item menu__item__submenu resaltado">
                <a href="/shop">VER TIENDA</a>
            </li>
            <li class="menu__item resaltado">
                <a href="/admin">ADMIN</a>
            </li>
            <li class="menu__item resaltado">
                <a href="/admin/categorias">CATEGORIAS</a>
            </li>
            <li class="menu__item resaltado">
                <a href="/admin/licencias">LICENCIAS</a>
            </li>

            <li class="menu__item resaltado">
                    <a href="/auth/logout">SALIR</a>
            </li>

            <% } else { %>
                <li class="menu__item menu__item__submenu resaltado">
                    <a href="/shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                </li>
                <li class="menu__item resaltado">
                    <a href="/contact">CONTACTO</a>
                </li>
                <li class="menu__item resaltado">
                        <a href="/auth/login">LOGIN</a>
                </li>
                <li class="menu__item resaltado">
                    <a class="carrito" href="/shop/cart">
                        <img src="/img/icons/cart-icon.svg" alt="ícono de carrito">
                        <span class="cantidadCarrito" id="itemsEnCarrito"><%=cartCant%></span>
                    </a>
                </li>
        <% } %>
        
    </ul>
</nav>
</header>