/* Normalizo */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--fuente-principal);
    font-size: 62.5%;
    color: var(--color-negro);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header, 
footer {
    font-family: var(--fuente-secundaria);
    color: var(--fuente-color-blanco);
    background-color: var(--color-girs-oscuro);
    padding: var(--espacio-16) var(--espacio-16);
}

ul, ol {
    list-style-type: none;
}

img {
    width: 100%;
}

input[type="text"]::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500;
}

/* fin normalizo */