<main class="container">
  <div class="admin" style="padding:24px;align-items: center;">
  <div class="__title">
    <h1>Crear categoría</h1>
  </div>

  <% if (typeof errors != 'undefined') { %>
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

  <form action="/admin/categorias" method="post" class="__form">
    <div class="__fila">
      <label for="nombre">Nombre: </label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
        required
        minlength="3"
      />
    </div>
    <button type="submit">Guardar</button>
  </form>
  </div>
</main>
