<main class="container">
  <div class="admin" style="padding:24px;align-items: center;">
  <div class="__title">
  <h1>Editar Categoría</h1>
  </div>
  <% if (typeof errors != 'undefined') { %>
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

  <form
    action="/admin/categorias/<%= values.id %>?_method=PUT"
    method="post"
    class="__form"
  >
    <div>
      <label for="nombre">Nombre: </label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
      />
    </div>
    <button type="submit">Guardar</button>
  </form>
  </div>
</main>