<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Funkoshop</title>
  <!-- Glide slider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
  <!-- Estilos propios -->
  <link rel="stylesheet" href="/css/index.css">
</head>
<body> 
  <%- include('../partials/header'); %>
  <%- body %> 
  <%- include('../partials/footer') %>
  <canvas id="starfield"></canvas>
  <script src="/js/starfield.js"></script> 
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="/js/script.js"></script>
</body>
</html>
